:host {
    width: 30%;
    float: left;
    border: 1px solid black;
}

.channel {
    color: black;
    display: inline-block
}

.channel:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.selected-channel {
    color: green;
}