:host {
    width: 30%;
    float: left;
    border: 1px solid black;
    margin-left: 5vw;
    margin-top: 5vw;
}

.channel {
    color: black;
    display: inline-block
}

.channel:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.selected-channel {
    color: green;
}

.members{
    color: black;
    padding-left: 2vw;
}