<div id="main">
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
    <input accept="sound/mp3, sound/ogg" multiple hidden (change)="onFileChange()" #fileInput type="file" id="file">
    <button disabled="{{!this.hasFiles}}" mat-raised-button color="primary" (click)="uploadFile()">Upload sound</button>

    <ng-container *ngIf="socketConnection; then online; else offline"> </ng-container>
    <ng-template #online>
        <img src="../assets/wifi.svg" class="filter-green" />
    </ng-template>
    <ng-template #offline>
        <img src="../assets/wifi.svg" class="filter-red" />
    </ng-template>

    <div class="test">
        <app-guilds-list  />        
        <app-soundboard-menu [newSound]="newSound"/>
    </div>


</div>